.card {
  box-sizing: border-box;
  width: 320px;
  height: 497px;
  padding: 16px 16px 40px;
  margin-bottom: 20px;
  margin-top: 16px;
  border-radius: 20px;
  background-color: $color-white;

  & > img {
    width: 100%;
    border-radius: 10px;
  }

  & > h1 {
    padding: 24px 16px 16px;
  }

  & > p {
    padding-left: 16px;
    padding-right: 16px;
  }
}